
/*main.css, line#0*/

/*EOC*/
.article-heading {
	display: none;
}
/*EOC*/
.categoryJobs td {
	max-width: 300px;
	vertical-align: top;
	white-space: normal;
}
/*main.css, EOF*/
/*parameter-grouping.css, line#0*/
.par-gr-hideable-item {
	border-left: 2px solid cadetblue;
	padding-left: 1em;
}
/*parameter-grouping.css, EOF*/